<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rubric Rex</title>
	<script src="angular/angular.js"></script>
	<script src="angular-route/angular-route.js"></script>
	<script src="js/build/main.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<a href="#/logout" class="btn btn-default btn-sm">Logout</a>
<a href='#/dashboard'>Dashboard</a>
{{{ body }}}
</body>
</html>