<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rubric Rex</title>
    <!--cdn's-->
    <!--    angular 1.5-->
	<script src="angular/angular.js"></script>
	<script src="angular-route/angular-route.js"></script>
	<script src="js/build/app.js"></script>
	<!--style-->
	<link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<a href="#/dashboard">Dashboard</a>
<body ng-app="app">
{{{ body }}}
</body>
</html>