<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rubric Rex</title>
    <!--cdn's-->
    <!--    angular 1.5-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>-->
    <!--    angular touch-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-touch.min.js"></script>-->
    <!--    angular route-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.min.js"></script>-->
    <!--    angular animate-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js"></script>-->
    <!--local-->
	<script src="angular/angular.js"></script>
	<script src="angular-route/angular-route.js"></script>
	<script src="js/build/app.js"></script>
	<!--style-->
	<link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body ng-app="app">
{{{ body }}}
</body>
</html>