<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pro Rubrics</title>
	<script src="angular/angular.js"></script>
	<script src="angular-route/angular-route.js"></script>
	<script src="javascripts/main.js"></script>
</head>
<body>
{{{ body }}}

</body>
</html>