@import 'jeet'

//test jeetd

//edit()
//
//.wrapper
//    
// center()
// margin 10px
// 
//.first
//    
// col(1/3)
// background-color red
// &:hover
//    background-color blue
//     
//.second
//    
// col(2/3)