
<div class="container" ng-app="dynamicFormApp" ng-controller="mainColtroller">

    <h2>Customer Complaint</h2>
     
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
          
        <div ng-repeat="item in formData">

            <label>{[{ item.label }]}</label>

<!-- IF TEXT -->
            <div ng-if="item.type === 'text'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                <input type="text" class="form-control" name="fullname" ng-model="item.value" placeholder="{[{item.placeholder}]}" required>
                <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">You fullname is required</p>
            </div>

<!-- IF SELECT -->
            <div ng-if="item.type === 'select'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                <select ng-model="item.value">
                    <option value="">--- Please Select ---</option>
                    <option required ng-repeat="option in item.options" name="{[{ item.name }]}" value="{[{option.value}]}">{[{option.value}]}</option>
                </select>
                <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Select a Department</p>
               
            </div>

<!-- IF EMAIL -->
            <div ng-if="item.type === 'email'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                <input type="email" class="form-control" name="{[{ item.name }]}" ng-model="item.value" placeholder="{[{item.placeholder}]}" required>
                <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Please enter a valid email</p>
            </div>

<!-- IF HIDDEN -->
            <div ng-if="item.type === 'hidden'">
                <input type="hidden" class="form-control" name="{[{ item.name }]}" ng-model="item.value" value="{[{item.value}]}">
            </div>

<!-- IF TEXTAREA -->
            <div ng-if="item.type === 'textarea'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                <textarea type="text" class="form-control" ng-model="item.value" ng-minlength="3" placeholder="{[{item.placeholder}]}" required>
                </textarea>
                <p ng-show="userForm.{[{ item.name }]}.$error.minlength" class="help-block">Message is too short.</p>
            </div>

<!-- IF CHECKBOX -->          
            <div ng-if="item.type === 'checkbox'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                <input type="checkbox" name="{[{ item.name }]}" ng-model="item.value" value="{[{item.value}]}" required><span>I accept all the terms and conditions</span>
                <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Please agree to terms</p>     
            </div>

        </div>
        
       <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>   
    </form>

    
<!--     <pre>
    ///////////
        <code>{[{ formData | json}]}</code>
    </pre> -->
      
</div>

   