<div id="homepage">
<img id="rexLogo" src="/img/header-logo.png">
<div class="homeDiv">
    <form action="/signup" method="post">
    <h1>SIGNUP FORM </h1>
            <div class="form-group">
                <label>Email</label>
                <br>
                <input type="text" done class="form-control" name="email" >
            </div>
            <div class="form-group">
                <label>Password</label>
                <br>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg homeBtn">Signup</button>
        </form>
        </div>

    <!-- LOGIN FORM -->
    <div class="homeDiv">
        <form class="homeForm" action="/login" method="post">
        <h1>LOGIN FORM </h1>
            <div class="form-group">
                <label>Email</label>
                <br>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <br>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-warning btn-lg homeBtn">Login</button>
        </form>
    </div>

</div>

