<div ng-app='app'>
<a href="/logout" class="btn btn-default btn-sm">Logout</a>

<h1>Rubric</h1>
    <form action="/createRubric" method="post">
        <div class="form-group">
            <label>Rubric Name</label>
            <input type="text" class="form-control" name="rubricName">
        </div>
        <div class="form-group">
            <label>Rubric Section</label>
            <input type="text" class="form-control" name="rubricSection">
        </div>
        <div class="form-group">
            <label>Grade Options</label>
           <input type="text" class="form-control" name="rubricGrades">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Create Rubric</button>
    </form>

  <!--  <div ng-controller="courseGenerator"> 
        <courses data-payload='courseGeneratorData' data-callback='addRubric()'></courses>         
    </div>
 -->
    </div>