@import 'jeet'

//color variables
dinoblue = #5B83C2
lightGreen = #A6CE3D
darkGreen = #6FBE44
darkPurple = #2C242F
darkGrey = #A5A1A1
lightGrey = #ABA7A7
rubricRounding = 5px
offWhite = #f8f8f8

// HOMEPAGE STYLINGS 

#homepage
    h1
        color dinoblue
        font-size: 1.5em
        margin-bottom: 5%
        font-weight: bold
    input
        width: 85%
        margin 3%
        padding 10px
    label
        margin-right: 6%
    button
        background-color dinoblue
        border-radius 5px
        padding 1%


#rexLogo
    width 40%
    margin-left 27%
    clear both

.homeDiv
    col(1/2)
    background-color offWhite
    float left
    padding 2%
    margin-top: 5%
    margin-left 22%
    border 2px solid
    border-color darkPurple
    border-radius 25px
    text-align center

.homeForm
    width 80%
    margin 0 auto

.homeBtn
    margin-top 5%
    margin-right 80%
    color offWhite



//custom stuff
::-webkit-scrollbar
    display none
    
::-webkit-input-placeholder
    color darkPurple
    
:-moz-placeholder
    color darkPurple
    
::-moz-placeholder
    color darkPurple
    
:-ms-input-placeholder
    color darkPurple
    
//fonts
@font-face
    font-family arialround
    src url("../fonts/arialround.ttf")
    
//main style
body, html
    height 100%
    color darkPurple
    background-color lightGreen
    font-family: 'Roboto Slab', serif;

h1
    font-family "Arial Rounded MT", Arial, Helvetica, sans-serif;
    
.dashboard
    background-image url("../img/ui-background.png")
    background-repeat repeat
    min-height 1000px
    
.bg
    position fixed
    z-index 2
    
.mobile-top
    top 0px
    left 165px

.mobile-right
    top 0px
    right 0px
    
.mobile-left
    top 0px
    left 0px

.bgtop
    top 0px
    right 248px
    @media screen and (min-width: 1px) and (max-width: 789px)
        display none
    @media screen and (min-width: 790px) and (max-width: 1149px)
        display initial
        font-size 24px
    @media screen and (min-width: 1150px) and (max-width: 1599px)
        display initial
    @media screen and (min-width: 1600px)
        display initial
    
.bgcorner
    top 0px
    right 0px
    @media screen and (min-width: 1px) and (max-width: 789px)
        display none
    @media screen and (min-width: 790px) and (max-width: 1149px)
        display initial
        font-size 24px
    @media screen and (min-width: 1150px) and (max-width: 1599px)
        display initial
    @media screen and (min-width: 1600px)
        display initial
    
.bgright
    top 270px
    right 0px
    @media screen and (min-width: 1px) and (max-width: 789px)
        display none
    @media screen and (min-width: 790px) and (max-width: 1149px)
        display initial
        font-size 24px
    @media screen and (min-width: 1150px) and (max-width: 1599px)
        display initial
    @media screen and (min-width: 1600px)
        display initial
    
.dashbody
    padding-top 179px
    padding-right 160px
    @media screen and (min-width: 1px) and (max-width: 789px)
        padding-right 0px
    
.header
    position fixed
    
.headerlogo
    top 16px
    left 15px
    z-index 2
    @media screen and (min-width: 1px) and (max-width: 789px)
        width 279px
        top 12px
        left 71px
    @media screen and (min-width: 790px) and (max-width: 1149px)
        width initial
    @media screen and (min-width: 1150px) and (max-width: 1599px)
        width initial
    @media screen and (min-width: 1600px)
        width initial
    
.logoutbutton
    position fixed
    top 10px
    right 15px
    font-family arialround
    font-size 24px
    cursor pointer
    z-index 2
    
.dashboardbutton
    position fixed
    top 10px
    right 101px
    font-family arialround
    font-size 24px
    cursor pointer
    z-index 2
    
//logout button style
.logoutbutton:link
    color darkPurple
.logoutbutton:visited
    color darkPurple
.logoutbutton:hover
    color darkPurple
.logoutbutton:active
    color darkPurple
    
//search area
.dashsearchcontainer
    text-align center
    padding-top 35px
    padding-bottom 35px
    @media screen and (min-width: 1px) and (max-width: 789px)
        padding-top 0px
        width 70%
        margin -60px auto
        z-index 2
        
.dashsearch
    font-size 32px
    outline none
    background-color lightGrey
    border none
    padding 5px 20px
    color darkPurple
    @media screen and (min-width: 1px) and (max-width: 789px)
        display initial
        width 60%
        font-size 29px
    @media screen and (min-width: 790px) and (max-width: 1149px)
        display initial
        font-size 24px
    @media screen and (min-width: 1150px) and (max-width: 1599px)
        display initial
    @media screen and (min-width: 1600px)
        display initial
    
//results div
.dashresults
    @media screen and (min-width: 1px) and (max-width: 789px)
        display initial
        center(450px)
        margin-top 80px
        max-width 480px
    @media screen and (min-width: 790px) and (max-width: 1149px)
        display initial
        center(450px)
    @media screen and (min-width: 1150px) and (max-width: 1599px)
        display initial
        center(955px)
    @media screen and (min-width: 1600px)
        display initial
        center(1450px)
    
.dashresults li
    background-image url("../img/result-bg.png")
    height 129px
    width 450px
    padding-right 26px
    background-repeat no-repeat
    padding-bottom 26px
    float left
    @media screen and (min-width: 1px) and (max-width: 789px)
        background-image url("../img/mobile-result-bg.png")
        width 146px
        padding-right 12px
    
//##############
//RESULT STYLING
//##############

.degreeAbbr
    font-family arialround
    font-size 31px
    padding-top 12px
    padding-left 22px
    color darkPurple
    @media screen and (min-width: 1px) and (max-width: 789px)
        padding-top 14px
        padding-left 41px
    
.degreeName
    color darkPurple
    font-size 14px
    font-family arialround
    display inline-block
    vertical-align top
    display -moz-inline-box
    -moz-box-orient vertical
    zoom: 1
    padding-top 9px
    padding-left 13px
    *display inline
    @media screen and (min-width: 1px) and (max-width: 789px)
        display none

.courseAbbr
    font-family arialround
    font-size 31px
    padding-top 5px
    padding-left 22px
    color darkPurple
    padding-top 5px
    padding-left 23px
    @media screen and (min-width: 1px) and (max-width: 789px)
        padding-top 12px
        padding-left 40px
    
.courseName
    color darkPurple
    font-size 14px
    font-family arialround
    display inline-block
    vertical-align top
    display -moz-inline-box
    -moz-box-orient vertical
    zoom: 1
    padding-top 3px
    padding-left 17px
    *display inline
    @media screen and (min-width: 1px) and (max-width: 789px)
        display none
        
.rubricnumber
    font-family arialround
    font-size 31px
    padding-top 5px
    padding-left 22px
    color darkPurple
    padding-top 9px
    padding-left 46px
    position absolute
    @media screen and (min-width: 1px) and (max-width: 789px)
        padding-top 15px
        padding-left 32px

.rubric
    color darkPurple
    font-family arialround
    font-size 9px
    padding 15px 5px
    background-color dinoblue
    border-radius rubricRounding rubricRounding rubricRounding rubricRounding
    -moz-border-radius rubricRounding rubricRounding rubricRounding rubricRounding
    -webkit-border-radius rubricRounding rubricRounding rubricRounding rubricRounding
    float left
    margin-right 8px
    max-width 80px
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    
.rubric:nth-child(5)
    display none
    
.rubricholder
    padding-left 103px
    margin-top -3px
    @media screen and (min-width: 1px) and (max-width: 789px)
        display none
    
.addcontainer {
    width 0px
    padding-left 106px
}
    
.addrubric
	background-color red
    border-radius rubricRounding rubricRounding rubricRounding rubricRounding
    -moz-border-radius rubricRounding rubricRounding rubricRounding rubricRounding
    -webkit-border-radius rubricRounding rubricRounding rubricRounding rubricRounding
	display inline-block
	cursor pointer
	font-family arialround
	font-size 16px
	padding 0px 5px
    border none
    @media screen and (min-width: 1px) and (max-width: 789px)
        margin-top 17px
    
.dots
    margin-right 8px
    padding-left 3px
    
//###########
//mobile menu
//###########

.mobile-menu
    background-image url("../img/mobile-menu-top.png")
    background-size 80%
    background-repeat repeat-x
    background-color lightGreen
    min-height 705px
    height 705px
    max-height 705px
    min-width 315px
    width 315px
    max-width 315px
    margin 0 auto
    @media screen and (min-width: 1px) and (max-width: 789px)
        display none
    @media screen and (min-width: 790px) and (max-width: 1149px)
        display none
    @media screen and (min-width: 1150px) and (max-width: 1599px)
        display none
    @media screen and (min-width: 1600px)
        display none

.mobile-menu-left
    position absolute
    top 0
    left 0
    
.mobile-menu-right
    position absolute
    top 0
    right 0
    
//############################
// /ROUTES THAT ARNT DASHBOARD
//############################

//pages

.userubric
    background-image url("../img/ui-background.png")
    background-repeat repeat
    font-family arialround
    
.usebody
    margin-left 155px
    padding-top 210px
    
.editrubric
    background-image url("../img/ui-background.png")
    background-repeat repeat
    font-family arialround
    
.editbody
    margin-left 155px
    padding-top 210px

//containers

.sheet-top
    background-image url("../img/sheet-top.png")
    background-repeat none
    max-width 755px
    min-height 128px

.rubric-container-use
    background-image url("../img/sheet-bg.png")
    background-repeat repeat-y
    max-width 755px
    min-height 685px
    
.rubric-body
    margin-left 191px
    
.rubric-stuff
    position relative
    top -42px
    
.sheet-bottom
    background-image url("../img/sheet-bottom.png")
    background-repeat none !important
    max-width 755px
    min-height 128px
    margin-top -9px
    margin-bottom 30px
    
//parts

.edit-button
    position fixed
    top 191px
    right 247px
    
.use-button
    position fixed
    top 191px
    right 247px
    
.rubric-name
    font-size 42px
    margin-bottom 11px

.rubric-name-edit
    float right
    
.rubric-name-edit-edit
    color green
    margin-right 59px
    margin-top -37px
    
.rubric-name-edit-done
    color red
    margin-top 16px
    margin-right 50px
    
.rubric-name-edit-input
    margin-top -4px
    
.rubric-name-edit-input-input
    color red
    font-size 42px
    padding 0px 0px
    font-family arialround
    outline none
    background-color rgba(255,255,255,0)
    border none
    margin-bottom 7px
    
.rubric-buttons
    float right
    
.rubric-degree
    font-size 16px
    display none
    
.rubric-course
    font-size 16px
    margin-bottom 9px
    
.rubric-section
    font-size 16px
    background-color white
    border: 3px solid black
    border-radius 15px
    min-height 170px
    width 519px
    margin-bottom 9px
    
.rubric-section-title
    padding-top 8px
    padding-left 14px
    padding-bottom 0px
    font-size 25px
    
.rubric-section-edit
    font-size 16px
    float right
    
.rubric-section-edit-edit
    color green
    margin-right 148px
    margin-top -28px
    
.rubric-section-edit-done
    color red
    margin-top 2px
    margin-right 76px
    
.rubric-section-edit-input
    margin-top -4px
    
.rubric-section-edit-input-input
    color red
    font-family arialround
    outline none
    background-color rgba(255,255,255,0)
    border none
    margin-bottom 7px
    padding-top 11px
    padding-left 14px
    padding-bottom 0px
    font-size 25px
    width 100%
    
.add-item
    font-size: 16px;
    padding-top: 16px;
    padding-left: 29px;
    padding-bottom: 8px;
    
.section-weight
    float right
    margin-top -21px
    margin-right 7px
    
//.rubric-section-edit
//    background-color blue
    
.rubric-section-edit-edit
    color green
    margin-right 59px
    margin-top -37px
    
.rubric-section-edit-done
    color red
    margin-top 16px
    margin-right 50px
    
//items

.rubric-item
    font-size 16px
    padding-top 8px
    padding-left 14px
    padding-bottom 8px

.ri-name
    margin-left 0px
    
.ri-wiki
    margin-left 0px
    
.ri-desc
    margin-left 0px
    
.ri-comment
    margin-left 0px
    
//buttons

.rubric-buttons
    color blue
    
.button-list
    color blue
    
.button-actual button
    width 41px
    height 25px
    margin-right 6px
    
.score-button
    text-align center
    
.score-button-actual
    width 300px
    height 90px
    margin-left 134px
    
//############
//util classes
//############

.hideme
    display none
    
//.fixme
//    display none
    
//##########
//!IMPORTANTS
//##########
    
//.dashresults:last-child
//    margin-right 0%