@import 'jeet'

//color variables
dinoblue = #5B83C2
lightGreen = #A6CE3D
darkGreen = #6FBE44
darkPurple = #2C242F
darkGrey = #A5A1A1
lightGrey = #ABA7A7
rubricRounding = 5px

//custom stuff
::-webkit-scrollbar
    display none
    
::-webkit-input-placeholder
    color darkPurple
    
:-moz-placeholder
    color darkPurple
    
::-moz-placeholder
    color darkPurple
    
:-ms-input-placeholder
    color darkPurple
    
//fonts
@font-face
    font-family arialround
    src url("../fonts/arialround.ttf")
    
//main style
body
    color darkPurple
    background-color lightGreen
    
.dashboard
    background-image url("../img/ui-background.png")
    background-repeat repeat
    min-height 2000px
    
.bg
    position fixed
    
.bgtop
    top 0px
    right 248px
    
.bgcorner
    top 0px
    right 0px
    
.bgright
    top 270px
    right 0px
    
.dashbody
    padding-top 179px
    padding-right 160px
    
.header
    position fixed
    
.headerlogo
    top 16px
    left 15px
    
.logoutbutton
    position fixed
    top 10px
    right 15px
    font-family arialround
    font-size 24px
    cursor pointer
    
//logout button style
.logoutbutton:link
    color darkPurple
.logoutbutton:visited
    color darkPurple
.logoutbutton:hover
    color darkPurple
.logoutbutton:active
    color darkPurple
    
//search area
.dashsearch
    font-size 32px
    outline none
    background-color lightGrey
    border none
    padding 5px 20px
    color darkPurple
    @media screen and (min-width: 1px) and (max-width: 789px)
        display none
    @media screen and (min-width: 790px) and (max-width: 1149px)
        display initial
        font-size 24px
    @media screen and (min-width: 1150px) and (max-width: 1599px)
        display initial
    @media screen and (min-width: 1600px)
        display initial
    
//results div
.dashresults
    @media screen and (min-width: 1px) and (max-width: 789px)
        display none
    @media screen and (min-width: 790px) and (max-width: 1149px)
        display initial
        center(450px)
    @media screen and (min-width: 1150px) and (max-width: 1599px)
        display initial
        center(955px)
    @media screen and (min-width: 1600px)
        display initial
        center(1450px)
    
.dashresults li
    background-image url("../img/result-bg.png")
    height 129px
    width 450px
    padding-right 26px
    background-repeat no-repeat
    padding-bottom 26px
    float left
    
.dashsearchcontainer
    text-align center
    padding-top 35px
    padding-bottom 35px
    
//##############
//RESULT STYLING
//##############

.degreeAbbr
    font-family arialround
    font-size 31px
    padding-top 12px
    padding-left 22px
    color darkPurple
    
.degreeName
    color darkPurple
    font-size 14px
    font-family arialround
    display inline-block
    vertical-align top
    display -moz-inline-box
    -moz-box-orient vertical
    zoom: 1
    padding-top 9px
    padding-left 9px
    *display inline

.courseAbbr
    font-family arialround
    font-size 31px
    padding-top 5px
    padding-left 22px
    color darkPurple
    
.courseName
    color darkPurple
    font-size 14px
    font-family arialround
    display inline-block
    vertical-align top
    display -moz-inline-box
    -moz-box-orient vertical
    zoom: 1
    padding-top 3px
    padding-left 17px
    *display inline

.rubric
    color darkPurple
    font-family arialround
    font-size 9px
    padding 15px 5px
    background-color dinoblue
    border-radius rubricRounding rubricRounding rubricRounding rubricRounding
    -moz-border-radius rubricRounding rubricRounding rubricRounding rubricRounding
    -webkit-border-radius rubricRounding rubricRounding rubricRounding rubricRounding
    float left
    margin-right 8px
    max-width 80px
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    
.rubricholder
    padding-left 103px
    margin-top -3px
    
//good in chrome tools but bad in build
.addrubric
	background-color red
    border-radius rubricRounding rubricRounding rubricRounding rubricRounding
    -moz-border-radius rubricRounding rubricRounding rubricRounding rubricRounding
    -webkit-border-radius rubricRounding rubricRounding rubricRounding rubricRounding
	display inline-block
	cursor pointer
	font-family arialround
	font-size 16px
	padding 0px 5px
    border none
    
.dots
    margin-right 8px
    padding-left 3px

//############
//util classes
//############

.hideme
    display none
    
//.fixme
//    display none
    
//##########
//!IMPORTANTS
//##########
    
//.dashresults:last-child
//    margin-right 0%