@import 'jeet'

//color variables
lightGreen = #A6CE3D
darkGreen = #6FBE44
darkPurple = #2C242F
darkGrey = #A5A1A1
lightGrey = #ABA7A7

//custom stuff
::-webkit-scrollbar
    display none
    
::-webkit-input-placeholder
    color darkPurple
    
:-moz-placeholder
    color darkPurple
    
::-moz-placeholder
    color darkPurple
    
:-ms-input-placeholder
    color darkPurple
    
//fonts
@font-face
    font-family arialround
    src url("../fonts/arialround.ttf")

body
    color darkPurple
    background-color lightGreen
    
.dashboard
    background-image: url("../img/ui-background.png");
    background-repeat: repeat;
    min-height 2000px
    
.bg
    position fixed
    
.bgtop
    top 0px
    right 248px
    
.bgcorner
    top 0px
    right 0px
    
.bgright
    top 270px
    right 0px
    
.dashbody
    padding-top 179px
    padding-right 160px
    
.header
    position fixed
    
.headerlogo
    top 16px
    left 15px
    
.logoutbutton
    position fixed
    top 10px
    right 15px
    font-family arialround
    font-size 24px
    cursor pointer
    
.dashsearch
    font-size 32px
    outline none
    background-color lightGrey
    border none
    padding 5px 20px
    color darkPurple
    
.logoutbutton:link
    color darkPurple
.logoutbutton:visited
    color darkPurple
.logoutbutton:hover
    color darkPurple
.logoutbutton:active
    color darkPurple

.dashresults
    col (2/3)
    center 955px
    
.dashresults li
    background-image: url("../img/result-bg.png")
    height 129px
    width 450px
    padding-right 26px
    background-repeat no-repeat
    padding-bottom 26px
    float left
    
.dashsearchcontainer
    text-align center
    padding-top 35px
    padding-bottom 35px
    
//##############
//RESULT STYLING
//##############

.degreeAbbr
    font-family arialround
    font-size 31px
    padding-top 12px
    padding-left 22px
    
.degreeName
    color green

.courseAbbr
    color blue
    
.courseName
    color orange

.rubric
    color yellow
    
//##############
//@MEDIA QUERIES
//##############

//mobile
@media (min-width: 1px)
    .dashresults
        display none
    .dashsearchcontainer
        display none
        
//before mobile
@media (min-width: 790px)    
    .dashsearch
        font-size 27px
    .dashresults
        col(2/3)
        center 450px
        display block
    .dashsearchcontainer
        display block
        
//shorten search
@media (min-width: 850px)
    .dashresults
        col(2/3)
        center 450px
    .dashsearch
        font-size 27px
        
//desktop
@media (min-width: 1150px)
    .dashresults
        col(2/3)
        center 955px
    .dashsearch
        font-size 32px
        
//large desktop
@media (min-width: 1600px)
    .dashresults
        col(7/8)
        center 1450px
    .dashsearch
        font-size 32px
        
//############
//util classes
//############

.hideme
    display none