

<h1>Dashboard</h1>
    <form action="/addCourse" method="post">
        <div class="form-group">
            <label>Degree</label>
            <select name="degreeName">
            <option value="" selected>---Select Option---</option>
            <option value="Recording Arts">Recording Arts</option>
            <option value="Web Design">Web Design</option>
            <option value="Mobile Technology">Mobile Technology</option>
            <option value="Graphic Design">Graphic Design</option>

           </select>
        </div>
        <div class="form-group">
            <label>Course Title</label>
            <input type="text" class="form-control" name="courseTitle">
        </div>
        <div class="form-group">
            <label>Course Code</label>
            <input type="text" class="form-control" name="courseCode">

        </div>
        <button type="submit" class="btn btn-warning btn-lg">Add Course</button>
    </form>


   <div ng-controller="courseGenerator"> 

        <courses data-payload='courseGeneratorData' data-callback='addRubric(course)'></courses>

    </div>

