<p class=""></p>
<h1>Add Rubric</h1>
<div class="rubric-container-use">
    <div class="rubric-header">
        <p class="rubric-name">({(db.rubrics.rubricName)})</p>
        <p class="rubric-degree">({(db.courses.degreeName)})</p>
        <p class="rubric-course">({(db.courses.courseName)})</p>
    </div>
    <div class="rubric-body">
        <p class="rubric-section">({(rubricSections[i].sectionName)})</p>
            <p class="rubric-item ri-name">({(rubricSections[i].items[i].itemName)})</p>
            <p class="rubric-item ri-wiki">({(rubricSections[i].items[i].itemWiki)})</p>
            <p class="rubric-item ri-desc">({(rubricSections[i].items[i].itemDesc)})</p>
            <p class="rubric-item ri-comment">({(rubricSections[i].items[i].itemComment)})</p>
            <p class="rubric-item ri-name">({(rubricSections[i].items[i].itemName)})</p>
            <p class="rubric-item ri-wiki">({(rubricSections[i].items[i].itemWiki)})</p>
            <p class="rubric-item ri-desc">({(rubricSections[i].items[i].itemDesc)})</p>
            <p class="rubric-item ri-comment">({(rubricSections[i].items[i].itemComment)})</p>
            <p class="rubric-item ri-name">({(rubricSections[i].items[i].itemName)})</p>
            <p class="rubric-item ri-wiki">({(rubricSections[i].items[i].itemWiki)})</p>
            <p class="rubric-item ri-desc">({(rubricSections[i].items[i].itemDesc)})</p>
            <p class="rubric-item ri-comment">({(rubricSections[i].items[i].itemComment)})</p>
        <p class="rubric-section">({(rubricSections[i].sectionName)})</p>
            <p class="rubric-item ri-name">({(rubricSections[i].items[i].itemName)})</p>
            <p class="rubric-item ri-wiki">({(rubricSections[i].items[i].itemWiki)})</p>
            <p class="rubric-item ri-desc">({(rubricSections[i].items[i].itemDesc)})</p>
            <p class="rubric-item ri-comment">({(rubricSections[i].items[i].itemComment)})</p>
            <p class="rubric-item ri-name">({(rubricSections[i].items[i].itemName)})</p>
            <p class="rubric-item ri-wiki">({(rubricSections[i].items[i].itemWiki)})</p>
            <p class="rubric-item ri-desc">({(rubricSections[i].items[i].itemDesc)})</p>
            <p class="rubric-item ri-comment">({(rubricSections[i].items[i].itemComment)})</p>
            <p class="rubric-item ri-name">({(rubricSections[i].items[i].itemName)})</p>
            <p class="rubric-item ri-wiki">({(rubricSections[i].items[i].itemWiki)})</p>
            <p class="rubric-item ri-desc">({(rubricSections[i].items[i].itemDesc)})</p>
            <p class="rubric-item ri-comment">({(rubricSections[i].items[i].itemComment)})</p>
        <p class="rubric-section">({(rubricSections[i].sectionName)})</p>
            <p class="rubric-item ri-name">({(rubricSections[i].items[i].itemName)})</p>
            <p class="rubric-item ri-wiki">({(rubricSections[i].items[i].itemWiki)})</p>
            <p class="rubric-item ri-desc">({(rubricSections[i].items[i].itemDesc)})</p>
            <p class="rubric-item ri-comment">({(rubricSections[i].items[i].itemComment)})</p>
            <p class="rubric-item ri-name">({(rubricSections[i].items[i].itemName)})</p>
            <p class="rubric-item ri-wiki">({(rubricSections[i].items[i].itemWiki)})</p>
            <p class="rubric-item ri-desc">({(rubricSections[i].items[i].itemDesc)})</p>
            <p class="rubric-item ri-comment">({(rubricSections[i].items[i].itemComment)})</p>
            <p class="rubric-item ri-name">({(rubricSections[i].items[i].itemName)})</p>
            <p class="rubric-item ri-wiki">({(rubricSections[i].items[i].itemWiki)})</p>
            <p class="rubric-item ri-desc">({(rubricSections[i].items[i].itemDesc)})</p>
            <p class="rubric-item ri-comment">({(rubricSections[i].items[i].itemComment)})</p>
    </div>
</div>