<div class="addrubricpage">
    <!--fixed interface-->
    <img class="bg mobile-top" src="img/mobile-top.png">
    <img class="bg mobile-right" src="img/mobile-right.png">
    <img class="bg mobile-left" src="img/mobile-left.png">
    <img class="bg bgtop" src="img/bg-top-long.png">
    <img class="bg bgcorner" src="img/bg-corner.png">
    <img class="bg bgright" src="img/bg-right.png">
    <!--header-->
    <a href="#/dashboard"><img class="header headerlogo" src="img/header-logo.png"></a>
    <a class="logoutbutton" href="/logout">logout</a>
    <a class="dashboardbutton" href="#/dashboard">dashboard</a>

    <!--body-->

    <div class="rubricbody">
        <add-rubrics data-model="newRubric" data-callback="createRubric()"></add-rubrics>
                <div ng-if="error">Please fill out the form</div>
    </div>
</div>