<h1>Rubric</h1>
<!--     <form action="/createRubric" method="post">
        <div class="form-group">
            <label>Rubric Name</label>
            <input type="text" class="form-control" name="rubricName" ng-model="newRubric.rubricName">
        </div>
        <div class="form-group">
            <label>Rubric Section</label>
            <input type="text" class="form-control" name="sectionName" ng-model="newRubric.RubricSections">
        </div>
        <input  type='text' name='courseID' ng-value="rubricCourse" ng-model='rubricCourseID'/>
        <button type="submit" class="btn btn-warning btn-lg">Create Rubric</button>
    </form> -->

    <add-rubrics data-model="newRubric"data-callback="createRubric()"></add-rubrics>