<div class="userubric">
    <!--fixed interface-->
    <img class="bg mobile-top" src="img/mobile-top.png">
    <img class="bg mobile-right" src="img/mobile-right.png">
    <img class="bg mobile-left" src="img/mobile-left.png">
    <img class="bg bgtop" src="img/bg-top-long.png">
    <img class="bg bgcorner" src="img/bg-corner.png">
    <img class="bg bgright" src="img/bg-right.png">
    <!--header-->
    <img class="header headerlogo" src="img/header-logo.png">
    <a class="logoutbutton" href="/logout">logout</a>
    <a class="dashboardbutton"href="#/dashboard">Dashboard</a>
    <!--body-->
    <div class="usebody">
        <div class="sheet-top">
        </div>
        <div class="rubric-container-use">
            <div class="rubric-body">
                <!--ng-repeat section is sections-->
                <use-rubric data-payload="usedRubric" data-callback="editRubric(rubric)"></use-rubric>
            </div>
        </div>
        <div class="sheet-bottom">
        </div>
    </div>
</div>